.chart-title {
    text-align: left;
    font-weight: 500;
}

.chart-div {
    padding: 40px;
}

.chart-heading {
    text-align: center;
}

.chart-inner-div {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;

}
.custom-tooltip{
    background-color: rgb(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid rgb(64, 68, 79);
    position: relative;
    z-index: 5;
    top: 0px;
    right: 0px;

}
.chart-btn{
    background-color: transparent;
    border: 1px solid rgb(64, 68, 79);
    color: rgb(152, 155, 163);
    margin: 2px;
    border-radius: 6px;
}
.back-arrow{
    color: grey;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}
.chart-avg{
    color: rgb(152, 155, 163);
    padding-left: 10px;
    font-size: 14px;
}
