.custom-card {
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.custom-card:hover {
    background-color: rgb(47 52 68 / 30%);
}

p, h4 {
    text-align: center;
}

h4 {
    margin: 16px 0px 0px 0px;
    font-size: 20px;
    font-weight: 500;
    color: #b6b6b6;
}

a {
    color: rgb(61, 104, 163);
    font-weight: 500;
}

p {
    margin-bottom: 0.5rem;
}

.perc {
    color: green;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

#daily, #weekly {
    font-size: 15px;
    cursor: pointer;
    color: #888888;
    font-weight: 400;
}

.link-left {
    padding-left: 10px;
}

.link-right {
    padding-right: 10px;
    text-align: right;
}

hr {
    background-color: rgb(64, 68, 79);
}